@import url(https://fonts.googleapis.com/css2?family=Bangers&family=Press+Start+2P&family=Roboto:wght@300&family=Space+Mono&display=swap);
body, html {
  overflow-x: hidden;
}

.--navbar {
  font-family: "Press Start 2P", cursive;
  background: #611d1d !important;
}
.--navbar .--navbar_title {
  font-size: 0.75rem !important;
  color: white;
}

.offcanvas .--offcanvas_links {
  font-size: 0.8rem;
}
.offcanvas .--offcanvas_title {
  font-size: 1rem;
}

.--offcanvas_button {
  color: white;
}

.swiper .swiper-wrapper .swiper-slide {
  min-height: 80vh;
  min-width: 100vw;
}

.swiper-pagination-bullet-active {
  background: #611d1d !important;
  height: 12px !important;
  width: 12px !important;
}
